services:

  backend:
    build: ./backend
    container_name: backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://romainzabethpro_db_user:QEW6rZQ6JvIHPFVf@clustertest.tqwc9he.mongodb.net/mydb?retryWrites=true&w=majority
      - JWT_SECRET=58e4c771439e3c065ce6b6fc3cdcd748

  frontend:
    build: ./frontend
    container_name: frontend
    restart: always
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_API_URL=http://localhost:5000
    depends_on:
      - backend